@import "tailwindcss";

.about-globe {
  filter: invert(1);
}

@font-face {
  font-family: "Druk";
  src: url("../public/fonts/Druk-CondSuper.otf") format("opentype");
}

@font-face {
  font-family: "Neue-Light";
  src: url("../public/fonts/NeueMontreal-Light.otf") format("opentype");
}

@font-face {
  font-family: "Neue-Regular";
  src: url("../public/fonts/NeueMontreal-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PPN";
  src: url("../public/fonts/PPNeueMontreal-Book.otf") format("opentype");
}

@font-face {
  font-family: "Albra";
  src: url("../public/fonts/Albra-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ABC";
  src: url("../public/fonts/ABCReproMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "DRUK";
  src: url("../public/fonts/Druk-CondSuper.otf") format("opentype");
}

@layer base {
  html {
    font-family: "ABC", monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Albra", sans-serif;
  }
}

/* Marquee wrapper */
.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Marquee content */
.marquee-content {
  display: flex;
  width: max-content;
  will-change: transform;
}

/* Slow default movement */
.animate-marquee-slow {
  animation: marquee 25s linear infinite;
}

/* Faster on hover */
.group:hover .animate-marquee {
  animation: marquee 12s linear infinite;
}

.animate-marquee-slower {
  animation: marquee 30s linear infinite;
}

/* Keyframes */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(-20deg);
  }

  100% {
    transform: translateX(200%) skewX(-20deg);
  }
}

/* --- New Technical Grid Pattern --- */
.bg-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}

.bg-noise {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.05;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}